{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table id="inputTable">
            <tr>
                <td><label for="username">Username</label>
                <td><input id="username" type="text" name="username" required></td>
            </tr>
            <tr>
                <td><label for="password">Password</label>
                <td><input id="password" type="password" name="password" required></td>
            </tr>
        </table>
        <div>
            <input type="submit" value="Login" id="login_button">
        </div>
    </form>

    <style>
        table {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
            text-align: center;
        }

        #inputTable tr td input {
            background: white;
            border: #ccc 1px solid;
            border-bottom: #ccc 2px solid;
            padding: 8px;
            color: black;
            font-size: 1em;
            width: 90%;
        }

        #login_button {
            background: #2ecc71;
            padding: 20px;
            color: white;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
            float: right;
            font-size: larger;
            cursor: pointer;
            text-decoration: none;
        }

        #login_button:hover {
            background: #666;
            color: #FFF;
        }
    </style>
{% endblock %}