<!DOCTYPE html>
<html>
<head>
    <title>Globens - Privacy Policy and Terms of Use</title>
</head>
<body>
<h1>Report Something</h1>
<p>
    You can report cases of abuse, sensitive public information, platform misuse, and other unethical matters at our <a href="mailto:globenssoft@gmail.com">helpdesk</a>.
</p>
<br>
<h1>Terms of Use</h1>
<p>
    Welcome to Globens!
    <br>
    These Terms of Use (or "Terms") govern your use of Globens, except where we expressly state that separate terms (and not these) apply, and provide information about the Globens Service (the "Service"), outlined below. When you create a Globens account or use Globens, you agree to these terms.
    <br>
    Thank you.
    <br>
    <br>
    Globens is an open access platform where you can share your intangible / tangible products (e.g., teaching a Japanese language, Software Engineering experience as an expat, etc.).
    In globens platform, businesses can :
</p>
<ul>
    <li>Create their pages</li>
    <li>Find collaborators online</li>
    <li>Create products and publish</li>
    <li>Manage staff quality (in their business)</li>
</ul>
<p>
    And, consumers / customers can :
</p>
<ul>
    <li>Find any tangible / intangible products they are seeking (e.g., language course, experience / consultation, etc.)</li>
</ul>
<br>
<h1>Data Policy</h1>
<p>This policy describes the information we process to support Globens.</p>
<h2>What kinds of information do we collect?</h2>
<p>
    The types of information we collect depend on how you use our Products.
    <br>
    You can learn how to access and delete information we collect by visiting the app menu.
</p>
<ul>
    <li><strong>Information and content you provide.</strong> We collect the content, and information you provide when you use our platform, including when you sign up for an account, create or share content, and message or communicate with others. This can include information in or about the content you provide (like metadata), such as name or description of a photo or the date a file was created. It can also include what you see through features we provide, such as our camera, so we can do
        things like sort and screen sensitive information before you can publicly share them. Our systems automatically process content and communications you and others provide to analyze context and what's
        in them for the purposes described below. Learn more about how you can control who can see the things you share.
    </li>
</ul>
<br>
<h1>Reducing the Spread of False Information on Globens</h1>
<p>
    At Globens, we're committed to reducing the spread of false information.
    <br>
    We use both technology and feedback from our community to identify posts and accounts that may contain false information. We have also assigned professionals who manually review content in 3 languages to help identify, review and label false information.
</p>
<br>
<h1>Community Guidelines</h1>
<p>
    <i><strong>COVID-19: Community Guidelines Updates and Protections:</strong> As people around the world confront this unprecedented public health emergency, we want to make sure that our Community Guidelines protect people from harmful content and new types of abuse related to COVID-19.
        <br>
        We're working to remove content that has the potential to contribute to real-world harm, including through our policies prohibiting coordination of harm, sale of medical masks and related goods, hate speech, bullying and harassment and misinformation that contributes to the risk of imminent violence or physical harm.
        <br>
        As the situation evolves, we continue to look at content on the platform, assess speech trends, and engage with experts, and will provide additional policy guidance when appropriate to keep the members of our community safe during this crisis.</i>
</p>
<h2>The Short</h2>
<p>
    We want Globens to be an authentic and safe place for inspiration and knowledge sharing.
    <br>
    Help us foster this community.
    <br>
    Post only your own photos, videos, and documents and always follow the law.
    <br>
    Respect everyone on Globens, don't spam people or post nudity.
</p>
<h2>The Long</h2>
<p>
    We created the Community Guidelines so you can help us foster and protect this amazing community.
    <br>
    By using Globens, you agree to these guidelines and our Terms of Use.
    <br>
    We're committed to these guidelines and we hope you are too.
    <br>
    Overstepping these boundaries may result in deleted content, disabled accounts, or other restrictions.
    <br>
    <br>
    In some cases, we allow content for public awareness which would otherwise go against our Community Guidelines – if it is newsworthy and in the public interest. We do this only after weighing the public interest value against the risk of harm and we look to international human rights standards to make these judgments.
</p>
<ul>
    <li>
        <strong>Share only photos and videos that you've taken or have the right to share.</strong>
        As always, you own the content you post on Globens.
        Remember to post authentic content, and don't post anything you've copied or collected from the Internet that you don't have the right to post.
        Learn more about <a href="https://en.wikipedia.org/wiki/Copyright">intellectual property rights</a>.
    </li>
    <li>
        <strong>Post photos and videos that are appropriate for a diverse audience.</strong>
        We know that there are times when people might want to share nude images that are artistic or creative in nature, but for a variety of reasons, we don't allow nudity on Globens.
        This includes photos, videos, and some digitally-created content that show sexual intercourse, genitals, and close-ups of fully-nude buttocks.
        It also includes some photos of female nipples, but photos in the context of breastfeeding, birth giving and after-birth moments, health-related situations (for example, post-mastectomy, breast cancer awareness or gender confirmation surgery) or an act of protest are allowed.
        Nudity in photos of paintings and sculptures is OK, too.
        People like to share photos or videos of their children.
        For safety reasons, there are times when we may remove images that show nude or partially-nude children.
        Even when this content is shared with good intentions, it could be used by others in unanticipated ways.
        You can learn more on our Tips for Parents page.
    </li>
    <li>
        <strong>Follow the law.</strong>
        Globens is not a place to support or praise terrorism, organized crime, or hate groups.
        Offering sexual services, buying or selling firearms, alcohol, and tobacco products between private individuals, and buying or selling illegal or prescription drugs (even if legal in your region) are also not allowed.
        Globens also prohibits the sale of live animals between private individuals, though brick-and-mortar stores may offer these sales.
        No one may coordinate poaching or selling of endangered species or their parts.
        Remember to always follow the law when offering to sell or buy other regulated goods.
        Accounts promoting online gambling, online real money games of skill or online lotteries must get our prior written permission before using any of our products.
        We have zero tolerance when it comes to sharing sexual content involving minors or threatening to post intimate images of others.
    </li>
</ul>
<br>
<h1>Copyrights</h1>
<a href="https://interoco.com/all-materials/author-s-design/3057-globens.html">"Globens" brand</a>
</body>
</html>